#main {
    padding: 10px;
}

.tooltip {
    opacity: 1;
}

.tooltip .tooltip-inner {
    background-color: #999;
}

.slider-handle.round {
    background-image: linear-gradient(to bottom,#979797 0,#707070 100%);
}

label {
    font-size: 13px;
    font-weight: bold;
    color: #555;
    padding: 2px;
}

.legend circle {
    stroke: #555;
}

.legend text {
    font-family: "Open Sans";
    font-size: 12px;
    fill: #555;
}

.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

.chart-label {
    text-anchor: middle;
    font-size: 24px;
    font-weight: bold;
    fill: grey;
}

.country_circle {
    stroke: #555;
}